namespace: up9  # Currently injector works only if it is up9 TODO: TRA-738 (to support namespace other than 'up9')
serviceAccountName: up9-service-account
clusterRoleName: up9-cluster-role
clusterRoleBindingName: up9-cluster-role-binding

# the command we show to users always contains this values
agentName:
clientId:
clientSecret:
up9EnvSuffix: up9.app  # default to PROD (the command from GUi will add it anyway - but this will support "old" docs command.
workspace:

# before publishing this helm chart to develop we need to check what is this value.
up9BaseRepositoryPath: gcr.io/up9-docker-hub
imagesBranch: master    # all components will use this branch
imagesTag: ":latest"      # all components will use this tag
standalone: false


agent:
  resourcesName: up9-test-agent

  requestCpu: "100m"
  requestMemory: "100Mi"
  limitCpu: "500m"
  limitMemory: "512Mi"

authHelper:
  resourcesName: up9-auth-helper
  port: 3000

  requestCpu: "100m"
  requestMemory: "1Mi"
  limitCpu: "500m"
  limitMemory: "256Mi"

collector:
  resourcesName: up9-collector

  requestCpu: "100m"
  requestMemory: "50Mi"
  limitCpu: "750m"
  limitMemory: "500Mi"

sidecarInjector:
  annotationNamespace: injector.up9

  requestCpu: "100m"
  requestMemory: "1Mi"
  limitCpu: "500m"
  limitMemory: "50Mi"

  allServices: false
  includedNamespaces: []
  excludedNamespace: []

sitter:
  resourcesName: up9-sitter
  port: 7000

  requestCpu: "100m"
  requestMemory: "1Mi"
  limitCpu: "500m"
  limitMemory: "256Mi"

passiveTapper:
  port: 25111

envoy:
  adminTapPort: 21213
  proxyListenPortRangeBegin: 21214
  egressPort: 21212
  envoyUserId: 1337

logging:
  disableStdoutLogging: 0
  disableStderrLogging: 0
  disableShipToUP9Logging: 0
