apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ .Values.clusterRoleName }}
rules:
  - apiGroups: [ "", "extensions", "apps" ]
    resources: [ "pods", "services", "endpoints", "namespaces",  "ingresses", "configmaps", "deployments" ]
    verbs: [ "list", "get", "watch" ]
  - apiGroups: [ "extensions", "batch" ]
    resources: [ "jobs" ]
    verbs: [ "get", "list", "watch", "create", "delete", "deletecollection", "patch" ]
  - apiGroups: [ "", "extensions" ]
    resources: [ "pods" ]
    verbs: [ "deletecollection" ]
  - apiGroups: [ "", "extensions" ]
    resources: [ "configmaps" ]
    verbs: [ "patch", "get", "update" ]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ .Values.clusterRoleBindingName }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ .Values.clusterRoleName }}
subjects:
  - kind: ServiceAccount
    name: {{ .Values.serviceAccountName }}
    namespace: {{ .Values.namespace  }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ .Values.serviceAccountName }}
  namespace: {{ .Values.namespace }}
  labels:
    kubernetes.io/cluster-service: "true"
    addonmanager.kubernetes.io/mode: Reconcile
---
