apiVersion: v1
kind: LimitRange
metadata:
  name: up9-limit-range
  namespace: {{ .Release.Namespace }}
spec:
  limits:
    - type: Container
      default:
        memory: "512Mi"
        cpu: "500m"
      defaultRequest:
        memory: "100Mi"
        cpu: "100m"

